/* * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}
.sidebar {
  float: left;
  background-color: #f7f7f7;
  margin-right: 20px;
}

.sidebar a {
  display: block;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 40px;
  text-decoration: none;
  color: #f29a13;
  font-size: 24px;
  font-weight: 700;
}
.sidebar a:last-child {
  margin-bottom: 80px;
}

.sidebar a[target="display_iframe"]:active {
  color: #518819;
}
.active_link {
  color: #518819 !important;
} */

/* add rounded corner chat bubble */

/* #content_description,
.bubble-left {
  background-color: #518819;
  border-top: 15px solid transparent;
  border-right: 20px solid transparent;
  border-left: 5px solid #f7f7f7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 30px;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  border-bottom: 5px solid #fff;
} */

/* reply bubble */
/* #content_Advice,
.bubble-right {
  background-color: #518819;
  border-top: 15px solid transparent;
  border-left: 20px solid transparent;
  border-right: 5px solid #f7f7f7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 30px;
  margin-left: 5%;
  margin-top: 10%;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
} */



/* .meeting_section {
  width: 100%;
  text-align: center;
  background-color: #f29a13;
  height: 200px;
}

.chat_heading {
  text-align: center;
} */

