

/* Stories,features and video*/
.educational_videos_section{
    
  background-color: #f7f7f7;
}
.col-sm-6{
background-color: #518819;
padding: 20PX;
margin: auto;
}
body {
  background-color: #009000;
}



/* This file contains css rules for the website */


/* Css rules for the footer begin here */

.column, .column2{
display: flex;
justify-content: space-around;
margin-top: 50px;
}

.links {
margin-top: 40px;
}
.Quote {
width: 300px;
text-align: center;
margin-top: 50px;
color: #faf0ea;
}
.links h3, .info h3, .contacts h3 {
color:  #F29A13;
}
.links a:hover, .info a:hover, .contacts a:hover, .copyrights a:hover {
color:  #F29A13;
}
.links a, .info a, .contacts a, .copyrights a {
color:  black;
text-decoration: none;
}
.socials img {
height: 50px;
}
.copyrights p {
margin-left: 450px;
font-weight: bolder;
}
.copyrights{
padding-top: 50px;
padding-bottom: 100px;
}
.Quote q{
font-weight: bolder;
}
footer {
background-color: #518819;
}

/* Css rules for footer end here */

/* css rules for the banner section */
/* Remove default margins */

.banner_section {
background-image: url("/img/depression.jpg");
background-size: cover;
background-position: right;
height: 75vh;
width: 100%;
}
/* css rules for the navigation bar */

nav ul li a:hover{
 

color:#F29A13;

} */

/* Add css rule for sticky header */

.sticky {
position: fixed;
top: 0px;
opacity: 0.5;
width: 100%;
z-index: 5;
}

.introduction{

width:600px;
color:white;
background-color:#F29A13;
float:right;
position: relative;
top:50%;
right:10%;
height:450px;
transform: translate(0%,-50%);
overflow:hidden;
}
.introduction #heading{
text-align: center;
margin-top: 40%;
transform: translate(0%,-50%);
padding-left:10px;
padding-right: 10px;
font-size:32px;
font-weight: 700;
}

.logo{
width:500px;
height: 60%;
}

@media only screen and (max-width: 400px) {
/* Adjust the position of the banner image for mobile view. */
.banner_section {
  background-position: bottom;
  height: 300px;
}

nav ul li a:hover{
 
  color:#518819;
  
  }
/* Display hamburger menu icon on mobile view. */
#menu_icon {
  display: block;
  width: 48px;
  float: right;
  margin-right: 16px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
/* Adjust the site title font for mobile view. */
/* nav #title {
  font-size: 24px;
} */
.introduction{

  width:fit-content;
  color:white;
  background-color:#F29A13;
  position: relative;
  top:455px;
  right:0%;
  height:fit-content; 
  transform: translate(0%,-50%);
  margin-top: 0px;
  
}
.introduction #heading{
  text-align: center;
  margin-top: 40%;
  transform: translate(0%,-50%);
  padding-left:10px;
  padding-right: 10px;
  font-size:18px;
  font-weight: 500;
  height: fit-content;
}
.logo{
  width:200px;
  height: 60%;
}
}

/* css rules for the banner section */

/* START OF CSS FOR NEW FEATURES SECTION  */
.booking {
background-color: #F7F7F7;

}
.booking h1 {
text-align: center;
font-size: 35px;
text-decoration: wavy;
}
                    

.booking-descr {
position: relative;
border-radius: 25px 25px 25px 25px;
background-color: #518819;
}
.booking-descr h4 {
text-align: center;
font-size: 30px;
font-weight: bolder;
font-style: oblique;
color: #F29A13;
}

.booking-descr p {
font-size: 1.15rem;
text-align: center;
}
#init-btn {
background-color: #F29A13;
padding: 10px 30px;
border: none;
outline: none;
border-radius: 40px;
font-weight: bold;

}
#highlight{
height:150px;
background-color: #F29A13;
text-align: center;
}
#highlight p{
padding-top: 50px;
font-size: 28px;
}

.input-field > label {
  color: #fff
}
input:-internal-autofill-selected {
  background-image: none !important;
  background-color: -internal-light-dark(rgb(254, 254, 232), rgba(70, 90, 126, 0.4)) !important;
  color: fieldtext !important;
}
/* END OF NEW CSS FOR NEW FEATURES SECTION  */
/* css for video section title */

